body {
	color: black;
	font: 13px Georgia;
	background: url(BG.svg);
}
h1.heading {
	color: orange;
	text-align: center;
	size: 80pt;
}
#wrapper {
	height: 100%;
	width: 100%;
	display: table;
	margin: 0 auto;
}
#main {
	width: 100%;
	display: table-row;
	min-height: 100%;
}
.content {
	background: #FFFFFF;
	background-image: url(images/holz_textur.png);
	width: 900px;
	height: 1200px;
	border-radius: 15px;
	margin: 0 auto;
	visibility: 50%;
}
.navbar {
	background-color: #FFFFFF;
	float: left;
	position: relative;
	height: 300px;
	width: 150px;
	border-bottom-left-radius: 15px;
	border-top-left-radius: 15px;
	margin-left: 50px;
}
.header {
	background: url(images/Unbenannt.png) no-repeat;
	background-position: center;
	height: 300px;
	width: auto;
	margin-left: auto;
	margin-right: auto;
	border-top-left-radius: 15px;
	border-top-right-radius: 15px;
}
IMG.displayed {
	display: block;
	margin-left: auto;
	margin-right: auto;
}
.tabs {
	background: url(images/Schnipsel.png);
	background-repeat: repeat-x;
}
.entrybox {
	background: url(images/Comment.png) no-repeat;
	background-position: center;
	background
	background-size: 70%;
	border: solid 1px black;
	text-align: center;
}
textarea {
	resize: none;
	width: auto;
	height: auto;
	margin-left: 75px;
	margin-top: 35px;
	background-color: transparent;
	border: transparent;
}

/*TABS*/


ul.tabs {
	margin: 0;
	padding: 0;
	float: left;
	list-style: none;
	height: 32px; /*--Set height of tabs--*/
	border-bottom: 1px solid #999;
	border-left: 1px solid #999;
	width: 100%;
}
ul.tabs li {
	float: left;
	margin: 0;
	padding: 0;
	height: 31px; /*--Subtract 1px from the height of the unordered list--*/
	line-height: 31px; /*--Vertically aligns the text within the tab--*/
	border: 1px solid #999;
	border-left: none;
	margin-bottom: -1px; /*--Pull the list item down 1px--*/
	overflow: hidden;
	position: relative;
	background: #e0e0e0;
}
ul.tabs li a {
	text-decoration: none;
	color: #000;
	display: block;
	font-size: 1.2em;
	padding: 0 20px;
	border: 1px solid #fff; /*--Gives the bevel look with a 1px white border inside the list item--*/
	outline: none;
}
ul.tabs li a:hover {
	background: #ccc;
}
html ul.tabs li.active, html ul.tabs li.active a:hover  { /*--Makes sure that the active tab does not listen to the hover properties--*/
	background: #fff;
	border-bottom: 1px solid #fff; /*--Makes the active tab look like it's connected with its content--*/
}

.tab_container {
	border: 1px solid #999;
	border-top: none;
	overflow: hidden;
	clear: both;
	float: left; width: 100%;
}
.tab_content {
	padding: 20px;
	font-size: 1.2em;
}
